html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 213.333rem;
}.forgot-using-phone-xZw {
  width: 100%;
  height: 120rem;
  background-color: #ffffff;
}
.forgot-using-phone-xZw .main-Jth {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB {
  box-sizing: border-box;
  padding: 32.943rem 74.667rem 29.743rem 74.667rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #111827;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .logo-inline-PfF {
  margin-bottom: 5rem;
  width: 31rem;
  height: 8.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw {
  box-sizing: border-box;
  padding: 6.399rem 6.336rem 4.907rem 6.349rem;
  width: 100%;
  height: 44.214rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015), 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1000000015);
  background-color: #1f2937;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .forgot-your-password-zuw {
  margin: 0rem 0rem 1.121rem 0.049rem;
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .dont-fret-just-type-in-your-phone-number-and-we-will-send-you-a-link-otp-to-reset-your-password-JQq {
  margin-bottom: 3.276rem;
  max-width: 49.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms {
  margin-left: 0.0495rem;
  width: calc(100% - 0.0495rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divh2d-97c640a4-izM {
  margin: 0rem 0.064rem 2.611rem 0rem;
  width: 51.201rem;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divh2d-97c640a4-izM .your-phone-number-3mj {
  margin-bottom: 0.799rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divh2d-97c640a4-izM .input-aWm {
  margin-bottom: 0.399rem;
  box-sizing: border-box;
  padding: 1.122rem 1.111rem 1.433rem 1.111rem;
  width: 100%;
  height: 4.222rem;
  border: solid 0.1rem #4b5563;
  background-color: #374151;
  border-radius: 0.8rem;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divh2d-97c640a4-izM .input-aWm .pseudo-JxZ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #9ca3af;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divh2d-97c640a4-izM .i-dont-have-phone-access-right-now-use-email-instead-Qkh {
  margin-left: 26.101rem;
  text-align: right;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6999999881);
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divyrrcjsrj5nopfm4duuc-gy7 {
  margin: 0rem 25.666rem 1.28rem 0rem;
  width: calc(100% - 25.666rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divyrrcjsrj5nopfm4duuc-gy7 .input-cbs {
  margin: 0.177rem 1.2rem 0rem 0rem;
  width: 1.599rem;
  height: 1.599rem;
  border: solid 0.1rem #4b5563;
  box-sizing: border-box;
  background-color: #374151;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divyrrcjsrj5nopfm4duuc-gy7 .i-accept-the-terms-and-conditions-ieu {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divyrrcjsrj5nopfm4duuc-gy7 .i-accept-the-terms-and-conditions-ieu .i-accept-the-terms-and-conditions-ieu-sub-0 {
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .divyrrcjsrj5nopfm4duuc-gy7 .i-accept-the-terms-and-conditions-ieu .i-accept-the-terms-and-conditions-ieu-sub-1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #4ade80;
  font-family: Inter, 'Source Sans Pro';
}
.forgot-using-phone-xZw .main-Jth .divyrrcjsrj5nopfm4duuc-UoB .divt6gkcsf0bt4mlitxvdj-8Mw .divivhclggvmltygow0uba-ebB .form-yms .button-rHF {
  width: 16.231rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #16a34a;
  border-radius: 0.8rem;
  flex-shrink: 0;
}